// app global css in SCSS form

@font-face {
  font-family: shadow1;
  src: url(./fonts/RubikDoodleShadow-Regular.ttf);
}
@font-face {
  font-family: lexendBold;
  src: url(./fonts/Lexend-Bold.ttf);
}

.shadow-text {
  font-family: "shadow1";
}
.lexend-text {
  font-family: "lexendBold";
}
.gradient-2b-indigo-10-9 {
  background-image: linear-gradient(to bottom, #1a237e, #283593);
}
.gradient-2b-indigo-9-8 {
  background-image: linear-gradient(to bottom, #283593, #303f9f);
}
.gradient-2r-indigo-8-7 {
  background-image: linear-gradient(to right, #303f9f, #3949ab);
}
.gradient-2r-indigo-8-6 {
  background-image: linear-gradient(to right, #303f9f, #3f51b5);
}
.gradient-2r-indigo-7-6 {
  background-image: linear-gradient(to right, #3949ab, #3f51b5);
}
.gradient-2r-indigo-6-5 {
  background-image: linear-gradient(to right, #3f51b5, #5c6bc0);
}
.gradient-2r-indigo-6-4 {
  background-image: linear-gradient(to right, #3f51b5, #7986cb);
}
.gradient-2r-indigo-5-4 {
  background-image: linear-gradient(to right, #5c6bc0, #7986cb);
}
.gradient-2r-indigo-4-3 {
  background-image: linear-gradient(to right, #7986cb, #9fa8da);
}
.gradient-2r-indigo-4-2 {
  background-image: linear-gradient(to right, #7986cb, #c5cae9);
}
.gradient-2r-indigo-2-0 {
  background-image: linear-gradient(to right, #c5cae9, #ffffff);
}
.gradient-2r-indigo-8-0 {
  background-image: linear-gradient(to right, #303f9f, #ffffff);
}
.gradient-2r-indigo-6-0 {
  background-image: linear-gradient(to right, #3f51b5, #ffffff);
}
